<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hajidanumroh">
    <!-- [Mandatory] Freshchat requires internet to send and receive messages -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:authorities="com.example.demoapp.provider"
        android:exported="false"
        android:grantUriPermissions="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.VideoDetailActivity"/>
        <activity android:name=".Activity.KegiatanDetailActivity" />
        <activity android:name=".Activity.DoaDetailActivity" />
        <activity android:name=".Activity.LaranganDetailActivity" />
        <activity android:name=".Activity.MateriDetailActivity" />
        <activity android:name=".Activity.VideoActivity" />
        <activity android:name=".Activity.MateriActivity" />
        <activity android:name=".Activity.DoaActivity" />
        <activity android:name=".Activity.TentangActivity" />
        <activity android:name=".Activity.LaranganActivity" />
        <activity android:name=".Activity.KegiatanActivity" />
        <activity android:name=".Activity.HajiUmrahActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.RegisterActivity" />

        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/freshchat_file_provider_paths" />

        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>